// GENOTYPEPOOL CONFIG

// Pipeline SetUp
singularity.enabled = true
report.overwrite = true
dag.overwrite = true

// Environment Specific Variables

// Mandatory
params.samplefile = null
params.paired = null
params.bamdir = null
params.ref = null
params.refvcfdir = null

// ON-OFF Parameters
params.help = params.help ? true:false
params.poolvcf = params.poolvcf ? true:false

// Parameters
params.outdir = "${launchDir}"
params.poolvcfdir = "${params.outdir}/poolvcf/"
params.threads = 12
params.chromosomes = "chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22"

// WORKFLOW REPORTS

def currentDateTime = new Date().format('yyyyMMdd_HH:mm:ss')

log {
    file = "${currentDateTime}_wfstrandseq.log"
}

trace {
    enabled = true
    overwrite = true
    file = "${currentDateTime}_wfstrandseq.trace.txt" 
}

dag {
    enabled = true
    overwrite = true
    file = "wfstrandseq.dag.html"
}

report {
    enabled = true
    overwrite = true
    file = "${currentDateTime}_wfstrandseq.report.html"
    title = "My Workflow Report"
}

timeline {
    enabled = true
    overwrite = true
    file = "${currentDateTime}_wfstrandseq.timeline.html"
}